$primaryColor: #7868E6;

.shopping-lists {
    min-height: 65vh;
    .shopping-list_item {
        overflow-y: scroll;
        border-bottom: 1px solid #E6E2E2;

        .shopping-list_heading {
            font-size: 18px;
            .icon {
                color: #707070;
            }
        }

        .shopping-list_details {
            h4 {
                font-size: 13px;
            }
        }

        .shopping-list_control {
            .icon {
                color: #d3d3d3;
            }
        }

    }

    
}