.shopping-lists_stats {

    .stats-details {
        .stats-item {
            width: 49%;
            border: 1px solid $primaryColor;
            color: $primaryColor;
            
            h3 {
                margin-bottom: -5px;
            }
        }
        .today {
            background: $primaryColor;
            color: $whiteColor;
        }
    }

}