.shopping-lists_welcome {
    height: 100vh;
    h1 {
        font-family: Amin, 'sans-serif';
        color: $primaryColor;
    }

    .button {
        background-color: $primaryColor;
        color: $whiteColor;
    }
}