// VARIABLES
$fontSize: 16px;
$mainFont: "Barlow", sans-serif;
$backgroundColor: #ffffff;
$blackColor: #0e0e0e;
$primaryColor: #7868E6;

// GENERAL 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
    font-weight: 300;
    background-color: $backgroundColor;
    overflow: hidden;

    body {
        line-height: 1.8;
        color: $blackColor;
        overflow: hidden;
        font-family: $mainFont;
        
        .app-title {
            color: $primaryColor;
            font-weight: 500;
        }
    }
}
