.label {
    color: $primaryColor;
    font-weight: 500;
}

.input {
    border: 1px solid $primaryColor;
    font-family: $mainFont;
}

.create-list-form {
    height: 100vh;
}

.errorMsg {
    display: none;
}

input:invalid[focused=true] {
    outline: none;
    border: 1px solid #f78585;
    color: #f92a2a
}

input:invalid[focused=true] ~ small.errorMsg {
    display: block;
}

.items-form {

    .field {
        .control {
            position: relative;
            .label {
                position: absolute;
                top: -10px;
                left: 15px;
                z-index: 1;
                font-size: 13px;
                background: #fff;
                padding-inline: 10px;
            }
        }
    }

    .w-50{
        width: 48%;
        display: inline-flex;
        margin-right: 2%;
    }

}