.primary-title {
    color: $primaryColor;
}

.heading-1 {
    font-size: 2rem;
}

.heading-2 {
    font-size: 1.75rem;
}

.heading-3 {
    font-size: 1.5rem;
}

.heading-4 {
    font-size: 1.25rem;
}

.heading-5 {
    font-size: 1.15rem;
}
.heading-6 {
    font-size: .95rem;
}

.heading-7 {
    font-size: .85rem;
}